<h2>Paises</h2>
<hr>
<div>
    <ul class="list-group list-group-flush list-group-item-dark">
        <li  routerLink="home" routerLinkActive="active" class="list-group-item">Inicio</li>
        <li  routerLink="country/byCountry" routerLinkActive="active"  class="list-group-item">Pais</li>
        <li  routerLink="country/byCapital" routerLinkActive="active"  class="list-group-item">Capital</li>
        <li  routerLink="country/byRegion" routerLinkActive="active"  class="list-group-item">Region</li>
       <!--   <li  routerLink="about" routerLinkActive="active"  class="list-group-item">Detalles</li>
        <li  routerLink="contact" routerLinkActive="active"  class="list-group-item">Contacto</li>
     --></ul>
</div>